.wrap {
  display: flex;
  align-items: center;
}

.generateWrap {
  cursor: pointer;
  user-select: none;
}

.generateButton {
  margin-right: 16px;
}

.generatedWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.generatedBolt {
  display: block;
  margin-right: 16px;
  fill: var(--colorText);
}

.line {
  margin: 0 8px;
  width: 1px;
  height: 26px;
  background-color: var(--colorBorder);
}
