.label {
  margin-bottom: 6px;
}

.value {
  display: flex;
  align-items: center;
  min-height: 24px;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.truncatedValue {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncatedWrap {
  display: flex;
  align-items: center;
}
