.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--fieldMargin);
  user-select: none;
  cursor: pointer;

  &.isDisabled {
    opacity: 0.4;
    cursor: default;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;

  &:focus + .dotWrap:before {
    box-shadow: 0 0 0 3px var(--colorControlBoxFocus);
  }
}

.dotWrap {
  position: relative;
  height: 26px;
  width: 44px;
  border: 1px solid var(--colorBorder);
  border-radius: 13px;
  transition: background-color ease var(--durNorm),
    border-color ease var(--durNorm);

  .isChecked & {
    background-color: var(--colorGreenApple20);
    border-color: var(--colorGreenApple40);
  }
}

.dot {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--colorBorder);
  border-radius: 50%;
  transition: background-color ease var(--durNorm),
    transform ease var(--durNorm);

  .isChecked & {
    background-color: var(--colorGreenApple);
    transform: translateX(18px);
  }
}
