.column {
  &:nth-child(2) {
    width: 25%;
  }

  &:nth-child(3) {
    width: 20%;
  }

  & > *:not(:last-child) {
    margin-bottom: 32px;
  }
}

.actions {
  display: flex;
}

.action {
  &:not(:last-child) {
    margin-right: 12px;
  }
}
