.column {
  &:nth-child(2) {
    width: 25%;
  }

  &:nth-child(3) {
    width: 20%;
  }

  & > *:not(:last-child) {
    margin-bottom: 32px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.action {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.collateralAmount {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collateralWrap {
  display: flex;
  align-items: center;
}

.loanIdTooltip {
  max-width: 210px;
  word-break: break-all;
}
