.message {
  padding: 10px 15px;
  position: absolute;
  right: 0;
  border-radius: 16px;
  color: var(--colorError);
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  background-color: var(--colorBgError);
  transform: scale(0.95, 0.9);
  transform-origin: bottom right;
  transition: opacity ease var(--durNorm), transform ease var(--durNorm);
  pointer-events: none;
  z-index: 1;

  &.toTop {
    bottom: calc(100% + 6px);
  }

  &.toBottom {
    top: calc(100% + 6px);
  }
}
