.connectButton {
  height: 60px !important;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.connectButtonInner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
