.wrap {
  max-width: 660px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
  margin-bottom: 30px;
}

.line {
  margin-bottom: 30px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(222, 215, 229, 0.16) 50%,
    rgba(222, 215, 229, 0) 94.75%
  );
}
