.column {
  &:nth-child(1) {
    width: 15%;
  }

  &:nth-child(2) {
    width: 20%;
  }

  &:nth-child(3) {
    width: 20%;
  }
}

.collateralAmount {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collateralWrap {
  display: flex;
  align-items: center;
}
