@import '~shared/styles/index.global.scss';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include inputBase();

  &:not(.isTextarea) {
    &,
    & .field {
      height: var(--fieldHeight);
    }
  }

  &.withMargin {
    margin-bottom: var(--fieldMargin);

    &.isConcatBottom {
      margin-bottom: var(--fieldMarginConcatted);
    }
  }

  &:hover {
    @include inputHover();
  }

  &.isFocused {
    @include inputFocus();
  }

  &.isError {
    @include inputError();

    &:focus {
      @include inputErrorFocus();
    }
  }

  &.isConcatTop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.isConcatBottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.isDisabled {
    @include inputDisabled();
  }
}

.placeholder {
  @include inputPlaceholderFloating();

  &.isMoved {
    @include inputPlaceholderFloated();
  }
}

.field {
  display: block;
  padding: 20px 24px 0;
  width: 100%;
  background: none;
  border: none;
  @include inputFont();
}

.wrap:hover .error,
.wrap.isFocused .error {
  @include inputErrorMessageOpened();
}

.actionWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}
