.title {
   margin-bottom: 20px;
}

.input {
  margin: 0;
  padding: 6px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--colorBorder);
  background-color: var(--colorBgTop);
}
