.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;

  .isNarrow & {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--contentWidthNarrow);
  }
}

.network {
  flex: 0 0 auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.networkBulb {
  position: relative;
  top: 1px;
  margin-right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: var(--headerActionsWidthDesktop);

  @media (max-width: 1180px) {
    width: var(--headerActionsWidthTablet);
  }
}

.nfcs {
  flex: 0 0 auto;
  margin-right: 75px;

  @media (max-width: 1180px) {
    margin-right: 20px;
  }
}

.wallet {
  flex: 0 0 auto;
}
