.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.network {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.networkBulb {
  position: relative;
  top: 1px;
  margin-right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.actions {
  display: flex;
  align-items: center;
}
