@import '~shared/styles/index.global.scss';

.text {
  &.truncateOne {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.truncateMany {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  &.isCentered {
    text-align: center;
  }

  &.isUppercased {
    text-transform: uppercase;
  }

  @include iteratePropsArr(
    'size',
    'font-size',
    [ 12, 14, 16, 18, 20, 24, 44 ],
    'px'
  );

  @include iteratePropsArr('weight', 'font-weight', [ 400, 500, 600, 700 ]);

  @include iteratePropsMap(
    'color',
    'color',
    (
      white: var(--colorWhite),
      default: var(--colorText),
      secondary: var(--colorTextSecondary),
      branded: var(--colorBranded),
    )
  );
}
